:root {
    --custom-width: 100vw;
    --design-width: 1920;
    --ratio: calc(var(--custom-width) / var(--design-width));
  }
  
  /* Default classes */
  .pos-abs {
    position: absolute;
  }
  .fill-parent {
    width: 100%;
    height: 100%;
  }
  .bg-contain {
    background-size: contain;
  }
  .bg-cover {
    background-size: cover;
  }
  .bg-auto {
    background-size: auto;
  }
  .bg-crop {
    background-size: 100% 100%;
  }
  .bg-no-repeat {
    background-repeat: no-repeat;
  }
  .pos-init {
    top: 0px;
    left: 0px;
  }
  .image-div {
    background-color: transparent;
    background-position: center;
  }
  /* Default classes end */
  
  body {
    margin: 0px 0px;
    padding: 0px;
  }
  .parent-div {
    position: relative;
    width: var(--custom-width);
    height: calc(4569 * var(--ratio));
    overflow: hidden;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
  }
  .landingpage-12 {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    transform: rotate(0deg);
    overflow: hidden;
    background: #ffffffff;
  }
  .frame-2-16 {
    width: 100%;
    height: 1.75%;
    top: 0%;
    left: 0%;
    z-index: 1;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 12px 12px;
    background: #21421eff;
  }
  .nodeBg-960,
  .nodeBg-20036,
  .nodeBg-4374,
  .nodeBg-4375,
  .nodeBg-4376,
  .nodeBg-4377,
  .nodeBg-3924,
  .nodeBg-9119,
  .nodeBg-4230 {
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    opacity: 1;
  }
  .logo-1-960 {
    width: 12.67%;
    height: 52.5%;
    top: 23.75%;
    left: 43.69%;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
  .frame-117127852-20036 {
    width: 100%;
    height: 22.28%;
    top: 1.75%;
    left: 0%;
    z-index: 2;
    transform: rotate(0deg);
    overflow: hidden;
  }
  .frame-117127852-966 {
    width: 53.65%;
    height: 1.75%;
    top: 12.91%;
    left: 23.18%;
    opacity: 0.85;
    z-index: 3;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 12px;
  }
  .rectangle-3-9110 {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0.1;
    z-index: 0;
    transform: rotate(0deg);
    background: #21421eff;
  }
  .frame-117127852-973 {
    width: 86.6%;
    height: 35%;
    top: 32.5%;
    left: 6.7%;
    z-index: 1;
    transform: rotate(0deg);
  }
  .gii-thiu-d-n-968 {
    width: 15.92%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 0;
    transform: rotate(0deg);
    text-align: justify;
    line-height: 0px;
  }
  .gii-thiu-d-n-968-0,
  .hot-ng-tri-n-970-0,
  .a-im-thin-nguyn-971-0,
  .quyn-gp-972-0 {
    font-size: calc(18 * var(--ratio));
  
    line-height: calc(28 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #21421eff;
  }
  .hot-ng-tri-n-970 {
    width: 16.37%;
    height: 100%;
    top: 0%;
    left: 27.13%;
    z-index: 1;
    transform: rotate(0deg);
    text-align: justify;
    line-height: 0px;
  }
  .a-im-thin-nguyn-971 {
    width: 22.87%;
    height: 100%;
    top: 0%;
    left: 54.71%;
    z-index: 2;
    transform: rotate(0deg);
    text-align: justify;
    line-height: 0px;
  }
  .quyn-gp-972 {
    width: 11.21%;
    height: 100%;
    top: 0%;
    left: 88.79%;
    z-index: 3;
    transform: rotate(0deg);
    text-align: justify;
    line-height: 0px;
  }
  .group-3-815 {
    width: 100%;
    height: 77.72%;
    top: 22.28%;
    left: 0%;
    z-index: 0;
    transform: rotate(0deg);
  }
  .gii-thiu-d-n-963 {
    width: 100%;
    height: 24.11%;
    top: 0%;
    left: 0%;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
    background: #ffffffff;
  }
  .group-2-4378 {
    width: 43.75%;
    height: 66.35%;
    top: 16.8%;
    left: 44.38%;
    z-index: 2;
    transform: rotate(0deg);
  }
  .c-463249335857787-4374 {
    width: 50.77%;
    height: 50.06%;
    top: 0%;
    left: 0%;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.10000000149011612);
  }
  .c-463738217861606-4375 {
    width: 46.15%;
    height: 44.94%;
    top: 5.12%;
    left: 53.85%;
    z-index: 1;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.10000000149011612);
  }
  .c-462624737854257-4376 {
    width: 46.15%;
    height: 45.39%;
    top: 54.61%;
    left: 0%;
    z-index: 2;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.10000000149011612);
  }
  .c-464133905861606-4377 {
    width: 46.15%;
    height: 40.96%;
    top: 54.61%;
    left: 49.23%;
    z-index: 3;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.10000000149011612);
  }
  .frame-117127853-3916 {
    width: 30%;
    height: 35.51%;
    top: 22.9%;
    left: 11.98%;
    z-index: 0;
    transform: rotate(0deg);
  }
  .gii-thiu-d-n-961 {
    width: 100%;
    height: 17.11%;
    top: 0%;
    left: 0%;
    z-index: 0;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .gii-thiu-d-n-961-0,
  .a-im-thin-nguyn-3936-0 {
    font-size: calc(80 * var(--ratio));
  
    line-height: calc(52 * var(--ratio));
  
    font-family: SVN-Gratelos Display;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #21421eff;
  }
  .frame-117127853-3913 {
    width: 100%;
    height: 69.74%;
    top: 30.26%;
    left: 0%;
    z-index: 1;
    transform: rotate(0deg);
  }
  .lu-gi-v-l-d-n-t-953 {
    width: 100%;
    height: 30.19%;
    top: 0%;
    left: 0%;
    z-index: 0;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .lu-gi-v-l-d-n-t-953-0 {
    font-size: calc(20 * var(--ratio));
  
    line-height: calc(32 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 600;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #21421eff;
  }
  .lu-gi-v-l-d-n-t-953-1,
  .d-n-c-thc-hin-b-954-0 {
    font-size: calc(20 * var(--ratio));
  
    line-height: calc(32 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #282828ff;
  }
  .d-n-c-thc-hin-b-954 {
    width: 100%;
    height: 60.38%;
    top: 39.62%;
    left: 0%;
    z-index: 1;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .lu-gi-v-3914 {
    width: 41.61%;
    height: 9.35%;
    top: 78.97%;
    left: 1.25%;
    opacity: 0.03;
    z-index: 1;
    transform: rotate(0deg);
    text-align: center;
    line-height: 0px;
  }
  .lu-gi-v-3914-0,
  .lu-gi-428-0,
  .v-429-0 {
    font-size: calc(300 * var(--ratio));
  
    line-height: calc(80 * var(--ratio));
  
    font-family: SVN-Gratelos Display;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #21421eff;
  }
  .nodeBg-974,
  .nodeBg-984 {
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    opacity: 0.05000000074505806;
  }
  .hot-ng-tri-n-974 {
    width: 100%;
    height: 16.76%;
    top: 24.11%;
    left: 0%;
    z-index: 2;
    transform: rotate(0deg);
    overflow: hidden;
    background: #21421eff;
  }
  .frame-117127853-3930 {
    width: 21.3%;
    height: 66.39%;
    top: 16.81%;
    left: 11.88%;
    z-index: 1;
    transform: rotate(0deg);
  }
  .nodeBg-3922 {
    background-position: center;
    background-repeat: no-repeat;
    width: calc(479.49999609494853 * var(--ratio));
    height: calc(320 * var(--ratio));
    left: calc(-67.70530909179661 * var(--ratio));
    top: calc(0 * var(--ratio));
    object-fit: cover;
    opacity: 1;
  }
  .image-3922 {
    width: 100%;
    height: 80.76%;
    top: 0%;
    left: 0%;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.10000000149011612);
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.10000000149011612);
  }
  .chuyn-i-thm-qua-977 {
    width: 97.31%;
    height: 14.18%;
    top: 85.82%;
    left: 1.34%;
    z-index: 1;
    transform: rotate(0deg);
    text-align: center;
    line-height: 0px;
  }
  .chuyn-i-thm-qua-977-0,
  .chng-trnh-giao--9113-0 {
    font-size: calc(18 * var(--ratio));
  
    line-height: calc(28 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #ffffffff;
  }
  .frame-117127853-3931 {
    width: 21.3%;
    height: 66.39%;
    top: 16.81%;
    left: 34.22%;
    z-index: 2;
    transform: rotate(0deg);
  }
  .image-3924 {
    width: 100%;
    height: 80.76%;
    top: 0%;
    left: 0%;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.10000000149011612);
  }
  .chng-trnh-giao--9113 {
    width: 76.28%;
    height: 14.18%;
    top: 85.82%;
    left: 11.86%;
    z-index: 1;
    transform: rotate(0deg);
    text-align: center;
    line-height: 0px;
  }
  .frame-117127853-3917 {
    width: 30%;
    height: 26.22%;
    top: 36.97%;
    left: 59.17%;
    z-index: 0;
    transform: rotate(0deg);
  }
  .hot-ng-tri-n-3918 {
    width: 100%;
    height: 33.33%;
    top: 0%;
    left: 0%;
    z-index: 0;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .hot-ng-tri-n-3918-0,
  .quyn-gp-4211-0 {
    font-size: calc(80 * var(--ratio));
  
    line-height: calc(52 * var(--ratio));
  
    font-family: SVN-Gratelos Display;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #ffffffff;
  }
  .frame-117127853-3919 {
    width: 100%;
    height: 41.03%;
    top: 58.97%;
    left: 0%;
    z-index: 1;
    transform: rotate(0deg);
  }
  .d-n-l-cu-ni-tin-3920 {
    width: 109.69%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 0;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .d-n-l-cu-ni-tin-3920-0,
  .d-n-l-cu-ni-tin-3920-2,
  .d-n-l-cu-ni-tin-3920-4 {
    font-size: calc(20 * var(--ratio));
  
    line-height: calc(32 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #ffffffff;
  }
  .d-n-l-cu-ni-tin-3920-1,
  .d-n-l-cu-ni-tin-3920-3,
  .mi-ng-gp-t-cc-n-4212-0,
  .chn-thnh-cm-n-b-4372-0 {
    font-size: calc(20 * var(--ratio));
  
    line-height: calc(32 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 600;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #ffffffff;
  }
  .a-im-thin-nguyn-979 {
    width: 100%;
    height: 39.37%;
    top: 40.86%;
    left: 0%;
    z-index: 1;
    transform: rotate(0deg);
    overflow: hidden;
    background: #ffffffff;
  }
  .frame-117127853-3937 {
    width: 49.38%;
    height: 10.59%;
    top: 7.15%;
    left: 25.31%;
    z-index: 0;
    transform: rotate(0deg);
  }
  .a-im-thin-nguyn-3936 {
    width: 80%;
    height: 35.14%;
    top: 0%;
    left:10%;
    z-index: 0;
    transform: rotate(0deg);
    text-align: center;
    line-height: 0px;
  }
  .trung-tm-iu-dng-3938 {
    width: 101.79%;
    height: 37.84%;
    top: 62.16%;
    left: -0.9%;
    z-index: 1;
    transform: rotate(0deg);
    text-align: center;
    line-height: 0px;
  }
  .trung-tm-iu-dng-3938-0 {
    font-size: calc(20 * var(--ratio));
  
    line-height: calc(28 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 600;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #21421eff;
  }
  .trung-tm-iu-dng-3938-1 {
    font-size: calc(20 * var(--ratio));
  
    line-height: calc(28 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #282828ff;
  }
  .image-23-9119 {
    width: 49.69%;
    height: 45.57%;
    top: 22.03%;
    left: 25.16%;
    z-index: 1;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.10000000149011612);
  }
  .lu-gi-428 {
    width: 33.44%;
    height: 5.72%;
    top: 40.06%;
    left: 0.68%;
    opacity: 0.03;
    z-index: 4;
    transform: rotate(-90deg);
    text-align: center;
    line-height: 0px;
  }
  .v-429 {
    width: 5.68%;
    height: 5.72%;
    top: 41.95%;
    left: 79.77%;
    opacity: 0.03;
    z-index: 5;
    transform: rotate(-90deg);
    text-align: center;
    line-height: 0px;
  }
  .c-2003-4370 {
    width: 37.19%;
    height: 16.02%;
    top: 71.89%;
    left: 11.88%;
    z-index: 3;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 12px;
    background: #ffffffff;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.10000000149011612);
  }
  .trung-tm-hin-m--4371 {
    width: 89.36%;
    height: 53.57%;
    top: 23.21%;
    left: 5.32%;
    z-index: 0;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .trung-tm-hin-m--4371-0,
  .trung-tm-hin-m--4371-2,
  .trung-tm-hin-m--4371-4,
  .trung-tm-iu-dng-3970-0,
  .trung-tm-iu-dng-3970-4,
  .trung-tm-iu-dng-3970-6,
  .trung-tm-iu-dng-3970-10 {
    font-size: calc(20 * var(--ratio));
  
    line-height: calc(30 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #282828ff;
  }
  .trung-tm-hin-m--4371-1,
  .trung-tm-hin-m--4371-3,
  .trung-tm-iu-dng-3970-2,
  .trung-tm-iu-dng-3970-8 {
    font-size: calc(20 * var(--ratio));
  
    line-height: calc(30 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 600;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #21421eff;
  }
  .c-2002-3969 {
    width: 37.19%;
    height: 16.02%;
    top: 71.89%;
    left: 50.94%;
    z-index: 2;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 12px;
    background: #ffffffff;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.10000000149011612);
  }
  .trung-tm-iu-dng-3970 {
    width: 86.13%;
    height: 53.57%;
    top: 23.21%;
    left: 7%;
    z-index: 0;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .trung-tm-iu-dng-3970-1,
  .trung-tm-iu-dng-3970-5,
  .trung-tm-iu-dng-3970-7 {
    font-size: calc(23 * var(--ratio));
  
    line-height: calc(30 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 600;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #21421eff;
  }
  .trung-tm-iu-dng-3970-3,
  .trung-tm-iu-dng-3970-9 {
    font-size: calc(20 * var(--ratio));
  
    line-height: calc(30 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #21421eff;
  }
  .quyn-gp-984 {
    width: 100%;
    height: 19.77%;
    top: 80.23%;
    left: 0%;
    z-index: 3;
    transform: rotate(0deg);
    overflow: hidden;
    background: #21421eff;
  }
  .frame-117127853-4210 {
    width: 48.28%;
    height: 22.22%;
    top: 14.25%;
    left: 25.89%;
    z-index: 0;
    transform: rotate(0deg);
  }
  .quyn-gp-4211 {
    width: 45%;
    height: 33.33%;
    top: 0%;
    left: 28%;
    z-index: 0;
    transform: rotate(0deg);
    text-align: center;
    line-height: 0px;
  }
  .mi-ng-gp-t-cc-n-4212 {
    width: 94.82%;
    height: 41.03%;
    top: 58.97%;
    left: 2.59%;
    z-index: 1;
    transform: rotate(0deg);
    text-align: center;
    line-height: 0px;
  }
  .frame-117127853-4227-container {
    width: 15.1%;
    height: 13.11%;
    top: 45.01%;
    left: 42.45%;
    z-index: 2;
    transform: rotate(0deg);
    border-radius: 32px;
    box-sizing: border-box;
    border-left: 1px solid #ffffffff;
    border-right: 1px solid #ffffffff;
    border-top: 1px solid #ffffffff;
    border-bottom: 1px solid #ffffffff;
  }
  .property-1defau-4222 {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    transform: rotate(0deg);
    border-radius: 32px;
    box-sizing: border-box;
    border-left: 1px solid #ffffffff;
    border-right: 1px solid #ffffffff;
    border-top: 1px solid #ffffffff;
    border-bottom: 1px solid #ffffffff;
  }
  .chm-thng-4221 {
    width: 77.93%;
    height: 30.43%;
    top: 34.78%;
    left: 19%;
    z-index: 0;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .chm-thng-4221-0 {
    font-size: calc(32 * var(--ratio));
  
    line-height: calc(28 * var(--ratio));
  
    font-family: Fz Poppins;
    font-weight: 500;
  
    text-decoration: none;
    text-transform: none;
    white-space: pre-wrap;
    color: #ffffffff;
  }
  .chn-thnh-cm-n-b-4372 {
    width: 48.28%;
    height: 4.56%;
    top: 66.67%;
    left: 25.89%;
    z-index: 1;
    transform: rotate(0deg);
    text-align: center;
    line-height: 0px;
  }
  .logo-1-4230 {
    width: 12.67%;
    height: 5.98%;
    top: 79.77%;
    left: 43.65%;
    z-index: 3;
    transform: rotate(0deg);
    overflow: hidden;
  }
  